.box {
    border: 1px solid #000000;
    margin: auto;
    width: 700px;
    margin-top: 50px;
}

.github_box {
    margin: 3em;
    text-align: center;
}

.github_text {
    display: inline-block;
    font-size: 2em;
}

.instagram_box {
    margin: 7em;
    text-align: center;
}

.instagram_text {
    display: inline-block;
    font-size: 2em;
}

.mail_box {
    margin: 2em;
    text-align: center;
}

.mail_text {
    display: inline-block;
    font-size: 2em;
}

@media only screen and (max-width:800px) {
    .box {
        border: 1px solid #000000;
        width: 600px;
    }
}

@media only screen and (max-width:599px) {
    .box {
        border: 1px solid #000000;
        width: 300px;
    }

    .github_text {
        display: inline-block;
        font-size: 1em;
        color: black;
    }

    .instagram_text {
        display: inline-block;
        font-size: 1em;
        color: black;
    }
    
    .mail_text {
        display: inline-block;
        font-size: 1em;
        color: black;
    }
}