.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .html {
    border-radius: 0% !important;
    margin: 2% 2% !important;
  }